/* 
==================================
    [GLOBAL STYLES]
    [HOME PAGE]-
         1.) NAVIGATION
         2.) HERO
         3.) MAIN (WITH ROWS IN BETWEEN)
         4.) FOOTER
    [ABOUT PAGE]-
    [SERVICES PAGE]-
    [PORTFOLIO PAGE]-
    [CONTACT PAGE]
         
              



====================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark: #000;
  --green: rgb(43, 207, 43);
  --lightgreen: rgba(144, 238, 144, 0.452);
}

html,
body {
  width: 100vw !important;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 250% !important;
  }
  h2,
  h3 {
    font-size: 160% !important;
  }
}

/* =======================================================================================
     HOMEPAGE  HOMEPAGE HOMEPAGE  HOMEPAGE  HOMEPAGE HOMEPAGE  HOMEPAGE  HOMEPAGE HOMEPAGE
==========================================================================================*/

#home {
  font-size: 14px;
}

/* ====================
NAVIGATION
======================= */

#header {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

#header,
.navbar-inverse {
  background-color: var(--white) !important;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #9d9d9d !important;
}

.activeNav {
  height: 10px;
  width: 10px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
}
header {
  height: 10rem;
}
@media (min-width: 768px) {
  #header {
    height: 10rem;
  }

  .navbar-nav > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  #header > .container {
    margin: 0;
    padding: 3rem;
    width: 100%;
    position: relative;
  }
  .navbar-collapse {
    width: 100vw;
    border-color: transparent !important;
    background-color: rgba(255, 255, 255, 0.603);
  }

  .navbar-header {
    position: absolute;
  }
  .navbar-inverse .navbar-toggle {
    border-color: var(--green);
  }
  .navbar-toggle {
    background-color: var(--green);
  }
}
/* ====================
HERO
======================= */

#hero {
  height: 80vh;
  background-color: var(--green);
}

#hero > .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero > .hero-text {
  font-weight: bolder;
  line-height: 7rem;
  font-size: 6rem;
}

/* ====================
MAIN
======================= */

/* first row */
#main {
  margin-top: 5rem;
}

.main > div {
  display: flex;
  justify-content: center;
}
.main-welcome-title {
  margin: 3rem 0;
  font-size: 14rem;
  font-weight: bold;
  text-align: center;
  color: var(--lightgreen);
}

.main-welcome-head {
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: var(--green);
  margin: 1.6rem 0;
}

.main-welcome-text {
  text-align: center;
  width: 35%;
}
/* second row */
.what-we-do {
  margin-top: 6rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

.what-we-do > div {
  background-color: var(--lightgreen);
  padding: 2rem;
  text-align: center;
  border-radius: 4px;
  margin: 0 1rem;
}

/* third row */
.third-row {
  padding: 6rem 0;
  background-color: var(--lightgreen);
}

.third-row-title {
  color: var(--green);
  font-weight: bolder;
  font-size: 3rem;

  margin: 1rem 0;
}

.image-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.home-image {
  border-radius: 5px;
  width: 25rem;
  height: 30rem;
  margin: 2rem 0;
  margin-left: 7rem;
}

.float-img {
  position: absolute;
  top: 20%;
  left: 45%;
}

@media screen and (max-width: 700px) {
  .image-group {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .home-image {
    border-radius: 5px;
    width: 18rem;
    height: 25rem;
    margin: 2rem;
    margin-left: 0;
  }
  .float-img {
    position: static;
  }
}

.btn {
  background-color: var(--green);
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: var(--dark);
  font-family: Arial;
  font-size: 17px;
  padding: 14px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 1rem 0;
  transition: 0.4s;
}
.btn:hover {
  background-color: var(--lightgreen);
}
.btn:active {
  position: relative;
  top: 1px;
}

/* fourth row */
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0;
}
.quotes > div {
  display: flex;
  justify-content: center;
}

.quotes-title {
  margin: 4rem 0;
  font-size: 14rem;
  font-weight: bold;
  text-align: center;
  color: var(--lightgreen);
}

.quote-section {
  background-color: var(--dark);
  padding: 4rem;
  width: 50%;
}

div.quote {
  position: relative;
  text-align: center;
  padding: 1rem 4rem;
  width: 80%; /* create space for the quotes */
  color: #484748;
  margin: 1rem auto 2rem;
  font-size: 3rem;
}

/* -- create the quotation marks -- */
div.quote:before,
div.quote:after {
  font-family: FontAwesome;
  position: absolute;
  color: var(--green);
  font-size: 50px;
}

div.EN:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}
div.EN:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}
div.quote-text {
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
}

/* fifth row */

.reviews-section {
  background-color: var(--lightgreen);
  padding-bottom: 4rem;
}

.reviews {
  margin: 10rem 0;
}

.reviews > div {
  display: flex;
  justify-content: center;
}

.reviews-title {
  margin: 3rem 0;
  font-size: 14rem;
  font-weight: bold;
  text-align: center;
  color: var(--lightgreen);
}
.reviews-head {
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: var(--green);
  margin: 1.6rem 0;
}

.reviews-text {
  text-align: center;
  width: 35%;
}

.user-review {
  border: 2px solid var(--green);
  padding: 4rem;
  border-top-left-radius: 28px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-align: center;
  height: 40%;
  margin: 0 4rem;
}
.space100 {
  margin-bottom: 100px;
}
div.big-quote {
  position: relative;

}
div.big-quote:before{
  font-family: FontAwesome;
  position: absolute;
  color: var(--lightgreen);
  font-size: 100px;
  z-index: 20;
}
div.DE:before {
  content: "\f10e";
  margin-top: -30px;
  top: 0%;
  left: 90%;
}
.quote3 .slick-dots {
  margin: 50px auto;
  position: relative;
  left: 0;
  display: table !important;
}

.quote3 .slick-dots li {
  list-style: none !important;
  float: left;
  margin-right: 7px;
}

.quote3 .slick-dots li button {
  outline: none;
  border: none;
  width: 15px;
  height: 15px;
  font-size: 0px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--lightgreen);
}

.quote3 .slick-dots li.slick-active button {
  background-color: var(--green);
}

/*
=============================
 FOOTER
============================= */
footer {
  margin-top: 16rem;
}

.footer {
  background-color: var(--lightgreen);
  padding: 3rem 15rem;
}

.footer > .row {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.footer-title {
  color: var(--green);
  margin-bottom: 1.5rem;
}

.footer-text {
  color: var(--dark);
}

.footer-btn {
  display: flex;
  align-items: flex-end;
}

.bottom-footer {
  background-color: var(--green);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-welcome-text,
  .reviews-text {
    width: 60%;
  }
  .what-we-do {
    flex-direction: column;
  }

  .what-we-do > div {
    margin: 1.5rem;
  }
  .quote-text {
    padding: 5rem;

    width: 80%;
  }

  .user-reviews {
    flex-direction: column;
  }
  .user-reviews > div {
    margin: 1.5rem;
  }
  .footer {
    padding: 5rem;
  }
  .footer > .row {
    flex-direction: column;
  }
}

/* =======================================================================================
    ABOUTPAGE ABOUTPAGEABOUTPAGE ABOUTPAGE ABOUTPAGEABOUTPAGE ABOUTPAGE ABOUTPAGEABOUTPAGE
==========================================================================================*/

/* ====================
HERO
======================= */

#about-hero {
  height: 80vh;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.about-hero-text {
  font-weight: bolder;
  line-height: 7rem;
  font-size: 6rem;
  text-align: center;
}

/* ====================
MAIN
======================= */
.title {
  color: var(--green);
  text-align: center;
}

.mission-text {
  margin: 4rem 0;
}

.mission-image-container {
  height: 30rem;
}

.mission-image {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
}

.objectives-title {
  margin-top: 6rem;
}

.objectives {
  text-align: center;
  margin-bottom: 6rem;
}

.objectives > div > p {
  padding: 2.4rem;
}

.story {
  background-color: rgba(144, 238, 144, 0.164);
  padding: 3rem 0;
}

.team-section {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}

.team-member {
  padding: 0;
}

.team-member-image {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.team-member-details {
  background-color: var(--green);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: center;
  padding: 3rem;
}
@media screen and (max-width: 768px) {
  .team-section {
    flex-direction: column;
  }
  .team-member {
    margin: 1.5rem;
  }
  .mission-image-container {
    /* width: 45%; */
  }
}

/* ======================================================================================================================
    SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE
==========================================================================================================================*/

/* ====================
HERO
======================= */

#services-hero {
  height: 80vh;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-hero-text {
  font-weight: bolder;
  line-height: 7rem;
  font-size: 6rem;
  text-align: center;
}

/* ====================
MAIN
======================= */

#services-main {
  background-color: var(--lightgreen);
}

.curved-div-left {
  background-color: var(--white);
  padding: 4rem;
  height: 40rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.curved-div-right {
  background-color: var(--white);
  padding: 4rem;
  height: 40rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.service-image {
  height: 80%;
  display: block;
  width: 70%;
  margin: auto;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50%;
  padding: 4.5rem;
}

.services-footer {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .services-text {
    height: 100%;
  }
  .curved-div-right {
    margin-left: 15rem;
  }
}
@media screen and (max-width: 471px) {
  .curved-div-right {
    margin-left: 7rem;
  }
}

/* ======================================================================================================================
PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE 
==========================================================================================================================*/

.portfolio-section {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
.portfolio-div {
  padding: 0;
  margin: 1rem;
}

.portfolio-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.pricing-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.pricing-tab {
  padding: 0;
  box-shadow: 1px 1px 10px 1px var(--lightgreen);
  text-align: center;
  margin: 2rem;
}

.pricing-head {
  padding: 1rem;
}

.pricing-list {
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
  margin: 0;
  background-color: var(--dark);
  padding: 1rem;
  color: var(--white);
}

.price {
  padding: 4rem;
  border-bottom: 1px solid var(--green);
  border-top: 0;
}

.pricing-footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .portfolio-section {
    flex-direction: column;
  }
  .portfolio-div {
    margin: 1.5rem;
  }

  .pricing-section {
    flex-direction: column;
  }
}
