/* 
==================================
    [GLOBAL STYLES]
    [HOME PAGE]-
         1.) NAVIGATION
         2.) HERO
         3.) MAIN (WITH ROWS IN BETWEEN)
         4.) FOOTER
    [ABOUT PAGE]-
    [SERVICES PAGE]-
    [PORTFOLIO PAGE]-
    [CONTACT PAGE]
         
              



====================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fbfbfb;
  --dark: #202020;
  /* focused nav */
  --secondaryDark: #3f3f3f;
  --tetiaryDark: #2b2b2b;
  /* inactive nav and footer copright and footer icons */
  --primary: #7fda4f;
  --secondary: #e5ffd8;
  --tetiary: #f0ffe8;
  --shade1: #b3fc8e;
  --shade2: #d1ffb9;
  --shadow: #8f8b8b59;
  /* shadow of 'we create' */
}

html,
body {
  width: 100vw !important;
  overflow-x: hidden;
  position: relative;
}
p {
  letter-spacing: 0.4px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 250% !important;
  }
  h2,
  h3 {
    font-size: 160% !important;
  }
}

/* =======================================================================================
     HOMEPAGE  HOMEPAGE HOMEPAGE  HOMEPAGE  HOMEPAGE HOMEPAGE  HOMEPAGE  HOMEPAGE HOMEPAGE
==========================================================================================*/

#home {
  font-size: 14px;
}

/* ====================
NAVIGATION
======================= */

#header {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px var(--shadow);
}

#header,
.navbar-inverse {
  background-color: var(--white) !important;
}

.navbar-inverse .navbar-nav > li > a.activeMenu {
  color: var(--dark);
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: var(--secondaryDark) !important;
}

.activeNav {
  height: 10px;
  width: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}
header {
  height: 10rem;
}
@media (min-width: 768px) {
  #header {
    height: 10rem;
  }

  .navbar-nav > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  #header > .container {
    margin: 0;
    padding: 3rem;
    width: 100%;
    position: relative;
  }
  .navbar-collapse {
    width: 100vw;
    border-color: transparent !important;
    background-color: rgba(255, 255, 255, 0.603);
  }

  .navbar-header {
    position: absolute;
  }
  .navbar-inverse .navbar-toggle {
    border-color: var(--primary);
  }
  .navbar-toggle {
    background-color: var(--primary);
  }
}
/* ====================
HERO
======================= */

#hero {
  height: 100vh;
  background-color: var(--primary);

  padding: 8rem 0;
}

#hero > .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero > .hero-text {
  font-weight: bolder;
  line-height: 7rem;
  font-size: 6rem;
}

.hero > .sub-hero {
  color: var(--white);
}

.hero-img {
  width: 792px;
  height: 110vh;
  position: absolute;
  top: 4%;
  right: -5%;
}

@media screen and (max-width: 1200px){
  .hero-img{
    width: 600px;
    height:80vh ;
  }

#hero > .container {

  height: 80%;
}
}

@media screen and (max-width: 1000px){
  #hero{
    padding: 4rem 1.5rem;
    height: 90vh;
  }
  #hero > .container {

    height: 50%;
  }
  .hero-text{
    font-size: 5rem;
  }
  .hero-img{
    height:80vh ;
    top: 6%;
  }
}
@media screen and (max-width: 860px){
  .hero-img{
    height:80vh ;
    top: 5%;
    width: 500px;
  }
}

@media screen and (max-width: 494px){
#hero{
  padding-top: 5rem;
}
.hero > .hero-text {
  font-weight: bolder;
  line-height: 4rem;
  font-size: 6rem;
}
  .hero-img{
    width: 400px;
    height:60vh ;
    top: 5%;
  }
}

@media screen and (max-width: 404px){
  #hero{
    padding-top: 5rem;
  }
  .hero > .hero-text {
    font-weight: bolder;
    line-height: 4rem;
 
  }
    .hero-img{
      width: 300px;
      height:60vh ;
      top: 5.5%;
    }
  }

/* ====================
MAIN
======================= */

/* first row */
#main {
  margin-top: 12rem;
}

.main > div {
  display: flex;
  justify-content: center;
}
.main-welcome-title {
  margin: 3rem 0;
  font-size: 14rem;
  font-weight: bold;
  text-align: center;
  color: var(--tetiary);
}

.main-welcome-head {
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: var(--primary);
  margin: 1.6rem 0;
}

.main-welcome-text {
  text-align: center;
  width: 35%;
}
/* second row */
.what-we-do {
  margin-top: 6rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

.what-we-do > div {
  background-color: var(--shade2);
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  margin: 0 1rem;
  box-shadow: 0px 3px 6px var(--shadow);
}
.what-we-do_title {
  color: var(--primary);
  margin: 2rem 0;
}
.what-we-do_img {
  height: 100px;
  margin-bottom: 2.5rem;
}
@media screen and (max-width:768px){
  .what-we-do{
    display: flex;
    align-items: center;
  }
  .what-we-do > div {
width: 50%;
  }
}
@media screen and (max-width:550px){
  .what-we-do{
    display: flex;
    align-items: center;
  }
  .what-we-do > div {
width: 80%;
  }
  .what-we-do_img {
    height: 80px;
  }
}

/* third row */
.third-row {
  padding: 6rem 0;
  background-color: var(--tetiary);
}

.third-row-title {
  color: var(--primary);
  font-weight: bolder;
  font-weight: 900;
  font-size: 3.2rem;

  margin: 1rem 0;
  margin-bottom: 2rem;
}
.third-row-text {
  letter-spacing: 0.6px;
  line-height: 30px;
  padding: 1.2rem;
}

.image-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.home-image {
  border-radius: 5px;
  width: 20rem;
  height: 20rem;
  margin: 2rem 0;
  margin-left: 7rem;
}

.float-img {
  position: absolute;
  top: 20%;
  left: 45%;
}

@media screen and (max-width: 700px) {
  .image-group {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .home-image {
    border-radius: 5px;
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    margin-left: 0;
  }
  .float-img {
    position: static;
  }
  .third-row-text {
    
    padding-right: 2.2rem;
  }
}

.btn {
  background-color: var(--primary);
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: var(--dark);
  font-family: Arial;
  font-size: 17px;
  padding: 10px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 1rem 0;
  transition: 0.4s;
}
.btn:hover {
  background-color: var(--tetiary);
}
.btn:active {
  position: relative;
  top: 1px;
}

/* fourth row */
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0;
}
.quotes > div {
  display: flex;
  justify-content: center;
}

.quotes-title {
  margin: 4rem 0;
  font-size: 14rem;
  font-weight: bold;
  text-align: center;
  color: var(--tetiary);
}

.quote-section {
  background-color: var(--dark);
  padding-top: 4rem;
  width: 50%;
  position: relative;
  z-index: 20;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quotes-img {
  height: 70px;
}
.quote-section > small {
  color: var(--white);
  margin: 2rem 0;
}

div.quote {
  position: relative;
  text-align: center;
  padding: 1rem 4rem;
  width: 80%; /* create space for the quotes */
  color: #484748;
  margin: 1rem auto 2rem;
  font-size: 3rem;
}

/* -- create the quotation marks -- */
div.quote:before,
div.quote:after {
  font-family: FontAwesome;
  position: absolute;
  color: var(--primary);
  font-size: 50px;
}

div.EN:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}
div.EN:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}
div.quote-text {
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
}
.dots {
  position: absolute;
  z-index: 0;
  top: 53%;
  right: 15%;
  height: 30rem;
}
progress {
  border-radius: 7px;
  width: 100%;
  height: 22px;
}
progress::-webkit-progress-bar {
  background-color: var(--secondaryDark);
}
progress::-webkit-progress-value {
  background-color: var(--primary);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
progress::-moz-progress-bar {
  /* style rules */
}

@media screen and (max-width:1200px){
  .quote-section{
    width: 60%;
  }
}
@media screen and (max-width:900px){
  .quote-section{
    width: 70%;
  }
  .dots{
    top: 54%;
    right: 11%;
  }
}
@media screen and (max-width:780px){
 
  .dots{
    top: 57%;
    right: 11%;
  }
  div.quote{
    font-size: 1.5rem;
  }
}
@media screen and (max-width:500px){
 .quote-section{

   width: 75%;
 }
 .quote-text{
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  font-size: 1rem;
 }
  .dots{
    top: 62%;
    right: 8%;
    width: 20rem;
    height: 20rem;
  }
  div.quote{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  div.quote:before,
div.quote:after {
  font-size: 2rem;
}
}
/* fifth row */

.reviews-section {
  background-color: var(--tetiary);
  padding-bottom: 4rem;
  margin-top: 5rem;
}

.reviews {
  margin: 10rem 0;
}

.reviews > div {
  display: flex;
  justify-content: center;
}

.reviews-title {
  margin: 3rem 0;
  font-size: 14rem;
  font-weight: bold;
  text-align: center;
  color: var(--secondary);
}
.reviews-head {
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: var(--primary);
  margin: 1.6rem 0;
}

.reviews-text {
  text-align: center;
  width: 35%;
}

.user-review {
  border: 2px solid var(--shade1);
  padding: 4rem ;
  border-top-left-radius: 28px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-align: center;
  margin: 0 4rem;
}
.space100 {
  height: 100px;
}

.quote3 > .slick-list {
  padding: 6rem 0;
}
.review-img_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.review-img {
  height: 100px;
  margin-top: -25%;
}
.user-review-name {
  font-weight: bold;
  margin: 1.5rem 0;
}
div.big-quote {
  position: relative;
}
div.big-quote:before {
  font-family: FontAwesome;
  position: absolute;
  color: var(--shade2);
  font-size: 100px;
  z-index: 20;
}
div.DE:before {
  content: "\f10e";
  margin-top: -66px;
  top: 0%;
  left: 90%;
}

.quote3 .slick-dots {
  margin: 50px auto;
  position: relative;
  left: 0;
  display: table !important;
}

.quote3 .slick-dots li {
  list-style: none !important;
  float: left;
  margin-right: 7px;
}

.quote3 .slick-dots li button {
  outline: none;
  border: none;
  width: 15px;
  height: 15px;
  font-size: 0px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--shade2);
}

.quote3 .slick-dots li.slick-active button {
  background-color: var(--primary);
}
.slick-track{
  height: 40%;
}
/* CLIENTS */
.partner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-logo {
  width: 20rem;
  text-align: center;
  margin: 0 1.5rem;
}
@media screen and (max-width: 720px){
  .partner{
    flex-direction: column;
  }
  .partner-logo{
    margin: 2rem 0;
  }
}
@media screen and (max-width:1000px){
  .user-review{
    /* height: 55%; */
  }
  .review-img {
    height: 80px;
    margin-top: -27%;
  }
div.big-quote:before {
  font-size: 70px;
  margin-top: -40px;
}


}
@media screen and (max-width:650px){
  .slick-track{
    height: 50%;
  }
  .user-review{
    padding: 2rem;
  }
  .review-img {
    
    margin-top: -38%;
  }
}
@media screen and (max-width:500px){
  .slick-track{
    height: 40%;
  }
  
  .review-img {
    
    margin-top: -20%;
  }
}

/*
=============================
 FOOTER
============================= */
footer {
  margin-top: 16rem;
}

.footer {
  background-color: var(--tetiary);
  padding: 3rem 15rem;
}

.footer > .row {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.footer-title {
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.footer-text {
  color: var(--dark);
}

.footer-btn {
  display: flex;
  align-items: flex-end;
}

.bottom-footer {
  background-color: var(--primary);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-welcome-text,
  .reviews-text {
    width: 60%;
  }
  .what-we-do {
    flex-direction: column;
  }

  .what-we-do > div {
    margin: 1.5rem;
  }
  .quote-text {
    padding: 5rem;

    width: 80%;
  }

  .user-reviews {
    flex-direction: column;
  }
  .user-reviews > div {
    margin: 1.5rem;
  }
  .footer {
    padding: 5rem;
  }
  .footer > .row {
    flex-direction: column;
  }
}

/* =======================================================================================
    ABOUTPAGE ABOUTPAGEABOUTPAGE ABOUTPAGE ABOUTPAGEABOUTPAGE ABOUTPAGE ABOUTPAGEABOUTPAGE
==========================================================================================*/

/* ====================
HERO
======================= */

#about-hero {
  height: 80vh;
  background: linear-gradient(to bottom left, #80da4f7c, #80da4f1e), url(../Assets/Images/about/about-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  position: relative;
}

.about-hero-text {
  font-weight: bolder;
  line-height: 7rem;
  font-size: 6rem;
  text-align: center;
  color: var(--primary);
  /* position: absolute;
  bottom: 90%;
  transform: translate(-50%, -50%);
  left: 50%; */
}

/* ====================
MAIN
======================= */
.title {
  color: var(--primary);
  text-align: center;
}

.mission-text {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}

.mission-image-container {
  height: 30rem;
}

.mission-image {
  display: block;
  height: 80%;
  width: 80%;
  margin: auto;
}

.mission-text > div > p{
  line-height: 2.4rem;
}

.objectives-title {
  margin-top: 6rem;
}

.objectives {
  text-align: center;
  margin-bottom: 6rem;
}
.objectives_num{
  color: var(--primary);
  background-color: var(--shade2);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.objectives > div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objectives > div > p {
  padding: 2.4rem;
  line-height: 3rem;
}

.story {
  background-color: var(--secondary);
  padding: 3rem 0;
  padding-bottom: 6rem;
}
.our-story{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.our-story > div > p{
  line-height: 3rem;
}
.story-image{
  width: 35rem;
}
.team-section {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}

.team-member {
  padding: 0;
}

.team-member-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.team-member-details {
  background-color: var(--primary);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-align: center;
  padding: 3rem;
}
@media screen and (max-width: 768px) {
  .team-section {
    flex-direction: column;
 align-items: center;

  }
  .team-member {
    margin: 1.5rem;
    width: 50%;
  }
 .mission-image{
   height: 70%;
 }

}
@media screen and (max-width: 750px) {
  .mission-image{
    width: 35rem;
    height: 75%;
  }
  .mission-text{
    flex-direction: column;
  }
  .our-story{
    flex-direction: column;
    align-items: center;
  }
  .our-story > div {
   padding: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .mission-image{
    width: 100%;
    height: 75%;
  }
  .mission-text{
    flex-direction: column;
  }
  .our-story{
    flex-direction: column;
    align-items: center;
  }
  .our-story > div {
   padding: 2.5rem;
  }
  .team-member{
    width: 80%;
  }
}

/* ======================================================================================================================
    SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE SERVICESPAGE
==========================================================================================================================*/

/* ====================
HERO
======================= */

#services-hero {
  height: 80vh;
  background: linear-gradient(to bottom left, #80da4f7c, #80da4f1e), url(../Assets/Images/services/services-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-hero-text {
  font-weight: bolder;
  line-height: 7rem;
  font-size: 6rem;
  text-align: center;
  color: var(--primary);
  
}

/* ====================
MAIN
======================= */

#services-main {
  background-color: var(--tetiary);
}


.curved-div-left {
  background-color: var(--white);
  padding: 4rem;
  height: 40rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.curved-div-right {
  background-color: var(--white);
  padding: 4rem;
  height: 40rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.service-image {
  height: 90%;
  display: block;
  width: 80%;
  margin: auto;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 40rem;
  padding: 4.5rem;
  line-height: 3rem;
}

.services-footer {
  margin-top: 0;
}

@media screen and (max-width: 992px) {
  .curved-div-left{
    width: 50%;
    
  }
.curved-div-right{
  width: 50%;
}
.services-text{
  width: 50%;

}
.reverse-margin{
  margin-left: 50%;
}
}
@media screen and (max-width: 780px) {
  .curved-div-left{
    width: 60%;
    
  }
.curved-div-right{
  width: 60%;
}
.services-text{
  width: 60%;

}
.reverse-margin{
  margin-left: 40%;
}

}
@media screen and (max-width: 650px) {
  .curved-div-left{
    width:80%;
    
  }
.curved-div-right{
  width:80%;
}
.services-text{
  width:100%;
  height: auto;

}
.reverse-margin{
  margin-left: 0%;
}
.margin-left{
  margin-left: 20%;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

}

@media screen and (max-width: 500px) {
  .curved-div-left{
    width:90%;
    height: 30rem;
    
  }
.curved-div-right{
  width:90%;
  height: 30rem;

}
.margin-left{
  margin-left: 10%;
}
.service-image{
  width: 100%;
  height: 100%;
}
}
/* ======================================================================================================================
PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE PORTFOLIOPAGE 
==========================================================================================================================*/

.portfolio-section {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
.portfolio-div {
  padding: 0;
  margin: 1rem;
}

.portfolio-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.pricing-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.pricing-tab {
  padding: 0;
  box-shadow: 1px 1px 10px 1px var(--tetiary);
  text-align: center;
  margin: 2rem;
}

.pricing-head {
  padding: 1rem;
}

.pricing-list {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  margin: 0;
  background-color: var(--dark);
  padding: 1rem;
  color: var(--white);
}

.price {
  padding: 4rem;
  border-bottom: 1px solid var(--primary);
  border-top: 0;
}

.pricing-footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .portfolio-section {
    flex-direction: column;
  }
  .portfolio-div {
    margin: 1.5rem;
  }

  .pricing-section {
    flex-direction: column;
  }
}
